.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.search-icon-dark {
    color: #607d8b;
}

.form-control:focus {
    box-shadow: none;
}

.w-30 {
    width: 30%;
}

.d-flex {
    display: flex;
}

.br-5 {
    border-radius: 5px;
}

.br-7 {
    border-radius: 7px;
}

.flex-1 {
    flex: 1
}

.booking-section:hover .of-hidden img {
    width: 100%;
    -webkit-transform: scale(1.1);
    /* -moz-transform: scale(1.1);
    -ms-transform: scale(1.1); */
    transform: scale(1.1);
}

.booking-section .of-hidden img {
    width: 100%;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s;
    transition: .3s;
}

.of-hidden {
    overflow: hidden;
}

.of-hidden img {
    width: 100%;
    -webkit-transform: scale(1.1);
    /* -moz-transform: scale(1.1);
    -ms-transform: scale(1.1); */
    transform: scale(1.1);   
}

.br-1 {
    border: 1px solid #dadada;
}

.category-sub {
    margin: 0px;
    font-size: 14px;
}

.category-container {
    border: 1px solid #dadada;
    border-radius: 20px;
    padding: 0px 10px;
}

.mt-10 {
    margin-top: 10px;
}

.size-description {
    font-size: 16px;
    /* font-weight: 500; */
}

.d-inline-flex {
    display: inline-flex;
}

.w-50 {
    width: 50%;
}

.read-more {
    max-width: fit-content;
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    padding: 0px 5px;
    cursor: pointer;
}

.read-more-p {
    margin-bottom: 0px;
    font-size: 14px;
    padding-left: 10px;
    padding: 0px 10px 0px 5px;
}

.cursor-pt {
    cursor: pointer;
}

.icon-shades-gray {
    color: #504d50;
}

.review-icon {
    border-radius: 93px;
    width: 45px;
    height: 45px;
    object-fit: cover;
}

.review-title-name {
    font-size: 16px;
    font-weight: bold;
}

.review-sub-title-name {
    font-size: 14px;
}

.all-reviews-btn {
    border: 1px solid #dadada;
    display: flex;
    align-items: center;
    padding: 5px;
    cursor: pointer;
    justify-content: center;
}

.slick-next, .slick-prev {
    padding: 0px;
    z-index: 2;
}

.slick-next:before, .slick-prev:before{
    font-size: 40px !important;
    color: #009dff;
    background: #fff;
    opacity: 10;
}

.slick-next:before {
    padding: 10px 11px 6px 10px;
    border-radius: 30px;
}

.slick-prev:before {
    padding: 10px 10px 6px 11px;
    border-radius: 30px;
}

.slick-next {
    right: 13px !important;
} 

.contact-info-input .contact-input {
    padding: 10px;
    width: 100%;
    margin-bottom: 1rem;
    outline: none;
}

.contact-info-input .contact-select {
    width: 100%;
    /* margin-bottom: 1rem; */
    outline: none;
}

.text-index {
    position: absolute;
    top: 50px;
    color: #fff;
    right: -9px;
    height: auto;
    top: 181px;
    background: #009dff;
    width: 50%;
}

.text-index-style {
    margin-bottom: 0px;
    text-align: center;
    padding: 7px;
    color: white;
}

.color-white {
    color: white;
}

.font-size-5 {
    font-size: 5rem;
}

.font-weight-500 {
    font-weight: 500;
}

.font-style-cards {
    margin-top: -1rem;
    font-size: 20px;
    font-weight: 500;
}